@import url("https://fonts.googleapis.com/css2?family=Dancing+Script:wght@400..700&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Roboto+Serif:ital,opsz,wght@0,8..144,100..900;1,8..144,100..900&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  /* overflow-x: hidden; */
  font-family: "Poppins", sans-serif;
  background-color: var(--white-color);
}
:root {
  --white-color: #ffffff;
  --black-color: #000000;
  --hover-color: #b88e2f;
  --background-color: #f5e7c7;
  --discount-color: ##ff3300;
  --new-arrivals: #00ff99;
  --faint-text-color: #898989;
  --card-bg: grey;
  --banners-bg: #faf3ea;
}
.header_section {
  border: 2px solid red;
  position: fixed;
  width: 100%;
  background: #f5f5f5;
  z-index: 100;
  margin: 0;
}

.header_section .wrapper {
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.wrapper img {
  width: 5rem;
  height: 5rem;
  border: 2px solid var(--black-color);
  border-radius: 50%;
}

.wrapper .header_logo_name {
  display: flex;
  flex-direction: row;
  justify-items: center;
  align-items: center;
  gap: 1.5rem;
}

.header_logo_name h1 {
  font-size: 1.5rem;
}

.wrapper .main_links ul {
  display: flex;
  flex-direction: row;
  gap: 2rem;
}
.wrapper .main_links li a {
  line-height: 1.7;
  font-size: 1rem;
  text-decoration: none;
}

.wrapper .main_links li a:hover {
  text-decoration: underline;
  margin-top: 1rem;
}

ul li {
  list-style: none;
}

ul li a {
  color: red;
  text-decoration: dashed;
}

.wrapper .header_icons ul {
  display: flex;
  flex-direction: row;
  gap: 1.7rem;
}
.wrapper .header_icons ul li a i {
  font-size: 1.5rem;
}

/*##############  HEROS SECTIONS ###############################3*/
.heros .heros_container {
  border: 12px solid green;
  /* margin-top: 5rem; */
  min-height: 100vh;
  background-color: #000000;
  background-image: url(./assets/furnitureAssets/herosIMG.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  justify-content: center;
  align-items: center;
}

.heros_container .heros_desc {
  width: 70%;
  padding: 2rem;
  float: right;
  margin-top: 5rem;
  background: var(--background-color);
  margin-right: 2rem;
}

.heros_container .heros_desc h3 {
  font-size: 1.1rem;
  color: var(--black-color);
  text-transform: capitalize;
  text-align: left;
}

.heros_container .heros_desc h1 {
  font-size: 2.5rem;
  text-transform: capitalize;
  color: var(--hover-color);
  font-weight: 600;
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
}

.heros_container .heros_desc p {
  color: var(--black-color);
  font-size: 1rem;
}

.heros_container .heros_desc button {
  padding: 1rem 2.3rem;
  margin-top: 2rem;
  border-radius: 0.4rem;
  background-color: var(--hover-color);
  color: var(--white-color);
  border: none;
}

/*############  ITEMS RANGE SECTION #####################*/
.range_parent {
  display: flex;
  flex-direction: column;
  border: 2px solid red;
  align-items: center;
  padding: 2rem 2rem;
}

h1 {
  font-size: 2.5rem;
  font-family: "Poppins", sans-serif;
  text-transform: capitalize;
  text-align: center;
}

.range_parent .range_items {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  gap: 2rem;
  flex-wrap: wrap;
  margin-top: 1rem;
}

.item_img {
  overflow: hidden;
  width: 15rem;
  height: 17rem;
}

.item_img img {
  height: 100%;
  width: 100%;
  border-radius: 0.5rem;
}

.item_img img:hover {
  transition: transform 2s ease;
  transform: scale(1.2);
}

.items h3 {
  text-align: center;
}

/*############## Products section #############################*/
.product_item .product_img img {
  width: 17rem;
}

.product_item {
  background-color: antiquewhite;
}

.product_parent {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  gap: 2rem;
}

.product_parent .product_item .product_desc {
  padding: 0.5rem;
}

.product_parent .product_item .product_desc h5 {
  font-size: 0.8rem;
  color: var(--faint-text-color);
  padding: 0.2rem 0;
}
.product_parent .product_item .product_desc .product_price {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

/*########### BANNER SECTION ################*/
.banner {
  display: flex;
  flex: row;
  justify-content: center;
  align-items: center;
  gap: 2rem;
  margin-top: 5rem;
  margin-left: 2rem;
  margin-right: 2rem;
}

.banner .product_samples img {
  width: 20rem;
}

.banner .products_quote h2 {
  font-style: bold;
  font-weight: 700;
  text-transform: capitalize;
  font-size: 2.3rem;
}
.banner .products_quote p {
  color: var(--black-color);
  padding: 0.2rem;
  line-height: 1.7;
}

.banner .products_quote button {
  padding: 0.5rem 1.5rem;
  margin-top: 1rem;
  color: var(--white-color);
  font-size: 1rem;
  background-color: var(--hover-color);
  border: none;
}

button {
  border: 2px solid var(--hover-color);
  /* padding: 1rem 2rem; */
  color: var(--hover-color);
  text-transform: capitalize;
}

/*##########  COLLECTIONS SECTIONS ####################*/
.furnitures {
  display: flex;
  align-items: center;
  flex-direction: column;
  border: 2px solid yellow;
  padding: 2rem 2rem;
}
.furnitures h3 {
  color: var(--faint-text-color);
}
.furnitures .collections {
  display: grid;
  margin-top: 2rem;
  grid-template-columns: auto auto auto;
  grid-template-rows: auto auto auto;
  gap: 2rem;
  justify-content: space-around;
}
.furnitures .collections img {
  width: 23rem;
}

.img1 {
  grid-column: span 2;
  border: 2px solid red;
}

.img4 {
  grid-row: 2/5;
}

/*#################### FOOTER SECTIONS #############33*/
.footer_section .footer_items {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin: 2rem;
}

.footer_section .footer_items h2 {
  font-size: 1rem;
  color: var(--faint-text-color);
  text-transform: capitalize;
  margin-bottom: 1.5rem;
}
.footer_section .footer_items .titles .main_title {
  font-size: 1rem;
  color: var(black);
  text-transform: capitalize;
  margin-bottom: 1.5rem;
}

.footer_section .footer_items .titles p {
  font-size: 1rem;
  color: var(--faint-text-color);
  padding: 0.2rem;
}

.footer_section .footer_items .links ul li {
  padding: 0.4rem;
}
.footer_section .footer_items .links ul li a {
  color: var(--faint-text-color);
}
.footer_section .footer_items .help ul li {
  padding: 0.5rem;
}
.footer_section .footer_items .help ul li h4 {
  color: var(--faint-text-color);
}
.footer_section .footer_items .newsLetter .input input {
  height: 2.5rem;
  width: 15rem;
  border: none;
  border-bottom: 2px solid var(--black-color);
  padding-inline-start: 1rem;
}
.footer_section .footer_items .newsLetter .input button {
  border: none;
  color: black;
}
.footer_section .footer_items .newsLetter .input button:hover {
  background: var(--hover-color);
  transition: 1s all ease-out;
  color: white;
  border: none;
}

/*##########################   SHOP Banner section ######################*/
.shop_banner {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-image: url(./assets/shop_banner.jpg);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  height: 25rem;
}

.shop_banner .shop_banner_items h2 {
  font-size: 2rem;
}
.shop_banner .shop_banner_items .banner_sub_titles {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  gap: 0.5rem;
}
.shop_banner .shop_banner_items .banner_sub_titles h3 {
  color: var(--faint-text-color);
}

/*############   Item selections ######################*/
.items_selection {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 1rem;
  background-color: var(--banners-bg);
}
.items_selection .shop_navigation_sec {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  gap: 2rem;
}

.items_selection .sect2 {
  display: flex;
  align-items: center;
  flex-direction: row;
  gap: 1rem;
}

.items_selection .sect2 input {
  padding-inline-start: 1rem;
  width: 5rem;
  height: 2rem;
  border: none;
}
.items_selection .shop_navigation_sec a {
  text-decoration: none;
  color: var(--black-color);
}
i {
  font-size: 24px;
  color: var(--black-color);
}

.products {
  margin-top: 2rem;
}

.products .next_item {
  margin-top: 1rem;
  gap: 0.5rem;
  display: flex;
  align-items: center;
  justify-content: center;
}

.products .next_item p {
  padding: 0.5rem 1.5rem;
  border-radius: 0.5rem;
  background-color: var(--banners-bg);
}
.products .next_item .next {
  background-color: var(--hover-color);
  color: var(--white-color);
}
/*####################  Serivec section ######################33*/
.services {
  margin-top: 2rem;
  align-items: center;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  margin-left: 1rem;
  margin-right: 1rem;
  background-color: var(--banners-bg);
  height: 40vh;
}

.shop_service .service_img img {
  width: 100%;
  height: 100%;
}
.shop_service .service_img {
  width: 5rem;
  height: 5rem;
}

.services .shop_service {
  align-items: start;
  display: flex;
  flex-direction: row;
  margin: 0 0.5rem;
  width: 20rem;
  padding: 2rem 0;
}

.services .shop_service .service_desc {
  padding-left: 1rem;
}
.services .shop_service .service_desc h2 {
  font-size: 1rem;
}

a {
  text-decoration: none;
  color: var(--black-color);
}

/* ######################### SINGLE PRODUCTS PAGES.*/
.navigation {
  display: flex;
  background-color: var(--banners-bg);
  padding: 1.5rem;
  justify-content: flex-start;
  gap: 1rem;
}

.navigation h3 {
  font-size: 1rem;
}

.navigation .item1,
.item2 {
  color: var(--faint-text-color);
}

/*###############  Products description section @###########################*/
.product_view {
  margin: 1rem;
  display: flex;
  flex-direction: row;
  justify-content: start;
}
.product_view_img {
  width: 8rem;
  margin-right: 1.5rem;
}

.product_view .product_view_img img {
  width: 7rem;
  border-radius: 1rem;
}

.product_view .product_full_view img {
  width: 30rem;
  height: 30rem;
}

.product_view .product_view_desc {
  margin-left: 1rem;
  padding: 1rem;
  gap: 1rem;
}

.product_view .product_view_desc H3 {
  font-size: 1rem;
  color: var(--faint-text-color);
  line-height: 1.7;
}

.divider {
  padding: 0.4rem;
  padding: 1rem;
}

.cust_reviews {
  color: var(--faint-text-color);
}
.product_view .product_view_desc .checked {
  color: orange;
}

.product_view .product_view_desc p {
  padding: 1rem 0;
  line-height: 1.7;
  color: var(--black-color);
}

.product_view .product_view_desc h5 {
  font-size: 1rem;
  font-style: normal;
  font-weight: 0;
  padding: 1rem 0;
  color: var(--faint-text-color);
}
.product_view .product_view_desc .sizes {
  display: flex;
  flex-direction: row;
  gap: 1rem;
}

.product_view .product_view_desc .sizes p {
  padding: 0 0.5rem;
  width: 2rem;
  text-align: center;
  border-radius: 0.3rem;
  background-color: var(--banners-bg);
}
.product_view .product_view_desc .sizes .first {
  background-color: var(--hover-color);
  color: var(--white-color);
}

.product_view .product_view_desc .colors {
  display: flex;
  flex-direction: row;
  gap: 1rem;
}

.product_view .product_view_desc .colors p {
  padding: 0;
  width: 2rem;
  align-items: center;
  justify-content: center;
  height: 2rem;
  text-align: center;
  border-radius: 50%;
}
.product_view .product_view_desc .colors .blue {
  background-color: blue;
}

.product_view .product_view_desc .colors .black {
  background-color: black;
}
.product_view .product_view_desc .colors .brown {
  background: var(--hover-color);
}

.product_view_desc .purchase_buttons {
  display: flex;
  margin-top: 2.5rem;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  gap: 0.5rem;
}
.product_view_desc .purchase_buttons .add_product {
  border: 1px solid black;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 7rem;
  align-items: center;
  padding: 0rem 1rem;
  border-radius: 0.5rem;
  height: 3rem;
}

.product_view_desc .purchase_buttons .add_to_cart {
  border: 1px solid var(--black-color);
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 8rem;
  height: 3rem;
  align-items: center;
  padding: 0rem 1rem;
  border-radius: 0.5rem;
}

.product_view_desc .purchase_buttons .compare {
  border: 1px solid black;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 7rem;
  height: 3rem;
  font-size: 1rem;
  align-items: center;
  padding: 0rem 1rem;
  border-radius: 0.5rem;
}
hr {
  margin-top: 2rem;
}

.item_infor {
  margin-top: 1rem;
  display: flex;
  gap: 0 1rem;
  justify-content: space-around;
}
.product_view_desc .item_infor .right p {
  color: var(--faint-text-color);
}

i {
  border-radius: 50%;
  padding: 0.2rem;
  border: 1px solid var(--black-color);
}

.socials {
  gap: 1rem;
  display: flex;
  justify-content: space-around;
  margin-top: 0.8rem;
}
.socials a:hover {
  transform: scale(1.05);
  transition: all ease-in-out;
}

/* ####################### Description sections ###############33*/
.description .hd_title {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  gap: 2rem;
  margin-top: 2rem;
}

.description p {
  color: var(--faint-text-color);
}

.description {
  padding: 1.5rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.description .desc {
  margin-top: 1rem;
  width: 90%;
}

.description .tag {
  margin-top: 1.5rem;
  display: flex;
  flex-direction: row;
  gap: 2rem;
}
.description .tag {
  flex-direction: row;
  justify-content: center;
}
.description .tag img {
  width: 30rem;
  height: 20rem;
  border-radius: 0.5rem;
}

/* #############################  THE SIDE CART SEGMENT SECTION FOR THE MAIN CART####################*/
.cart_segment {
  display: flex;
  flex-direction: column;
  /* justify-content: center; */
  border: 1px solid black;
  width: 80%;
}

.cart_segment .segment_title {
  margin-top: 2rem;
  flex-direction: row;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 1rem;
}
.cart_segment .segment_title a i {
  color: var(--faint-text-color);
}

.cart_segment .cart_item {
  flex-direction: row;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 1rem;
}

.cart_segment .cart_item .item_img {
  width: 8rem;
  height: 8rem;
}

.cart_item a i {
  color: var(--faint-text-color);
}

.cart_segment .cart_item .item_infor {
  flex-direction: column;
}
.cart_segment .cart_item .item_infor .prices {
  color: var(--hover-color);
}

.cart_segment .cart_item .item_infor .total_items {
  font-size: 1.5rem;
}

.cart_segment .sub_total {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 1rem;
  margin-right: 2rem;
}

.cart_segment .sub_total h4 {
  color: var(--hover-color);
}

.cart_segment hr {
  margin-top: -0.5rem;
  padding: 1rem;
}
.cart_segment .option_buttons {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  margin: 1rem;
}
.cart_segment .option_buttons p {
  border: 1px solid black;
  display: flex;
  flex-direction: row;
  justify-content: center;
  width: 7rem;
  align-items: center;
  padding: 0rem 1rem;
  border-radius: 0.5rem;
  text-align: center;
  height: 3rem;
}

.cart_segment .option_buttons p:hover {
  background-color: var(--background-color);
}

/*####################  SECTIONS COMPARE PRODUCTS #######################*/
.add_products_to_compare {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: start;
  gap: 1rem;
  margin: 0.5rem;
  padding: 1rem;
}

.add_products_to_compare .box {
  width: 25rem;
  border: 2px solid red;
}

.compare_products .compare_product_img img {
  width: 100%;
  max-height: 14rem;
}

.add_products_to_compare .navigate_to_products_pg,
.add_product {
  padding: 2rem;
}

.navigate_to_products_pg .to_home_page {
  height: auto;
  margin-top: 1rem;
  text-align: center;
}

.navigate_to_products_pg .to_home_page a {
  font-size: 1.2rem;
  border-bottom: 2px solid black;
}

.add_product .choose {
  margin-top: 2rem;
  background: var(--hover-color);
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0.5rem;
  border-radius: 0.5rem;
}
.general_comp {
  padding: 2rem;
  margin: 0 2rem;
}
table th .header_comp {
  color: black;
  font-size: 1rem;
  text-align: left;
}
table td {
  padding: 1rem;
  border-collapse: collapse;
}
table tr {
  border: none;
}
th {
  border-top: 1px solid rgb(224, 217, 217);
}
td {
  border-right: 1px solid rgb(224, 217, 217);
}
table {
  border-collapse: collapse;
}
table tr th p {
  font-size: 1rem;
  border: 0;
  font-style: normal;
  font-style: normal;
  font-weight: 400;
  text-align: left;
}
.products {
  margin-top: 2rem;
  border-collapse: collapse;
}

.to_cart {
  padding: 1rem;
  border-radius: 0.5rem;
}

.to_cart:hover {
  background: var(--hover-color);
  color: var(--white-color);
}

/* ##########################  The cart page styling #########################*/
.products_details {
  margin: 1rem;
  padding: 1rem;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin: 2rem;
}
table thead th {
  background-color: var(--banners-bg);
  padding: 1rem;
  border: none;
}
table tbody tr th {
  padding: 2rem;
  text-align: center;
}

.products_details table tbody tr th img {
  width: 5rem;
  height: 5rem;
  border-radius: 1rem;
}
.products_details table tbody tr th,
td {
  color: var(--faint-text-color);
  border: none;
}
.products_details table tbody tr td #quantity {
  color: var(--black-color);
  padding: 0.2rem;
  text-align: center;
  border-radius: 0.3rem;
  border: 2px solid var(--faint-text-color);
}
.products_details table tbody tr td #sub_total {
  color: var(--black-color);
}

.products_details table tbody tr td .i {
  color: var(--hover-color);
  border: none;
  font-size: 2rem;
}

.cart_totals {
  background-color: var(--banners-bg);
  padding: 1rem;
}

#cart_totals {
  margin-top: 1.5rem;
}

#cart_totals tr th,
td {
  text-align: left;
}

.cart_totals {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.cart_totals h1 {
  font-size: 2rem;
}

#cart_totals button {
  margin: 0 5rem;
  padding: 1rem;
  border-radius: 0.5rem;
  border: 1px solid var(--black-color);
  color: var(--black-color);
}

#cart_totals button:hover {
  background-color: var(--hover-color);
  color: var(--white-color);
  transition: all ease 1s;
}

#cart_totals tr td p {
  color: var(--black-color);
}

/*##############  THE CHECK OUT WEBPAGE SECTION STYLING ##############################*/
.checkout_info {
  padding: 2rem;
  margin: 2rem;
  display: flex;
  flex-direction: row;
  gap: 2rem;
  border: 2px solid red;
  justify-content: space-around;
}
.checkout_info .billing_details h1 {
  font-size: 1.5rem;
  text-align: left;
}

.checkout_info .billing_details form .inputs {
  display: flex;
  flex-direction: column;
  margin-top: 1rem;
}

.checkout_info .billing_details form .inputs label {
  padding: 0.7rem 0;
  font-weight: 600;
}

form .inputs input,
select {
  height: 3rem;
  width: 20rem;
  padding-inline-start: 1rem;
  border-radius: 0.5rem;
  border: var(--faint-text-color) 1px solid;
}

.place_order table tbody tr .product_name {
  color: var(--black-color);
}

.place_order table tbody tr .products_total h1 {
  color: var(--hover-color);
  font-size: 1.5rem;
}

.place_order {
  width: 40%;
}
.place_order .instructions {
  padding: 1rem;
}

.instructions {
  border: 2px solid black;
  align-items: center;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.instructions .payment_mode {
  padding: 1rem 0;
}

.instructions p {
  line-height: 1.7;
  color: var(--faint-text-color);
}

.instructions .payment_option {
  padding: 0.5rem 1rem;
}

.instructions .check_out {
  margin-top: 2rem;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
}

.instructions .check_out button {
  width: 15rem;
  font-size: 1.3rem;
  color: var(--black-color);
  border-radius: 0.5rem;
  border: var(--black-color) 1px solid;
}

.instructions .check_out button:hover {
  color: var(--white-color);
  background: var(--hover-color);
  transition: all ease-in-out 0.5s;
}

/*#######################   Contact us section for the website ########################*/

.contact_us {
  padding: 2rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.contact_us .get_in_touch {
  text-align: center;
  line-height: 1.7;
  align-items: center;
  display: flex;
  flex-direction: column;
}

.contact_us .get_in_touch h1 {
  font-size: 2rem;
}
.contact_us .get_in_touch p {
  color: var(--faint-text-color);
  text-transform: capitalize;
  width: 50%;
}

.contact_us .message {
  margin-top: 3rem;
  display: flex;
  flex-direction: row;
  justify-content: center;
  gap: 2rem;
  width: 100%;
  padding: 1rem;
}

.contact_us .message .company_addresses .identification {
  display: flex;
  gap: 1rem;
  padding: 1rem;
}
.contact_us .message .company_addresses .identification p {
  color: var(--faint-text-color);
}

form {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.message form .inputs {
  display: flex;
  flex-direction: column;
  padding: 1rem;
}

.message form .inputs label {
  font-weight: 500;
  font-size: 1.2rem;
}

.message form .inputs input {
  padding: 1rem 0rem;
  padding-inline-start: 0.5rem;
  margin-top: 0.5rem;
}

.message form .inputs textarea {
  display: flex;
  flex-direction: column;
  width: 20rem;
  padding: 0.5rem;
  border-radius: 0.5rem;
  margin-top: 0.5rem;
  margin-bottom: 1rem;
}

.message form button {
  padding: 1rem 3rem;
  background: var(--hover-color);
  color: var(--white-color);
  border-radius: 0.5rem;
  cursor: pointer;
}

/*###################### THE BLOG SECTIONS ######################*/

.blog {
  border: 5px solid black;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}
.blogs {
  margin-top: 3rem;
}

.blogs .blog_details {
  display: flex;
  width: 35rem;
  flex-direction: column;
}

.blogs .blog_details .blog_img {
  width: 100%;
  height: 20rem;
}

.blogs .blog_details .blog_img img {
  width: 100%;
  height: 100%;
  border-radius: 0.7rem;
}
.blogs .blog_details .blog_icons {
  display: flex;
  flex-direction: row;
  padding: 0.5rem 0;
  gap: 2rem;
  align-items: center;
}

.blogs .blog_items .blog_details p {
  color: var(--faint-text-color);
  font-size: small;
}

.blog_details .blog_icons p i {
  font-size: 1rem;
  cursor: pointer;
  border: none;
  color: var(--faint-text-color);
}

.blog_details .blog_icons p i:hover {
  color: var(--black-color);
}

.blog_details .blog_icons p {
  color: var(--faint-text-color);
}

.blogs .blog_items .blog_desc p {
  line-height: 1.7;
}

.blogs .blog_items .blog_desc a {
  margin-top: 1.5rem;
  display: inline-block;
  color: var(--black-color);
  padding: 0.2rem 0;
  font-weight: 600;
  border-bottom: 2px solid black;
  cursor: pointer;
}

.blogs .blog_items .blog_desc a:hover {
  color: var(--faint-text-color);
  transition: all ease 0.5s;
  border-bottom: 2px solid var(--faint-text-color);
}

.blogs .blog_details .blog_items:nth-of-type(n) {
  margin-top: 2rem;
}

.recent_blogs {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  padding: 2rem;
  margin-top: 3rem;
  border: 2px solid red;
  height: auto;
}

.recent_blogs .recent_post {
  display: flex;
  flex-direction: row;
}
.recent_blogs .recent_post .post_img {
  width: 5rem;
  height: auto;
}

.recent_blogs .recent_post .post_img img {
  width: 100%;
  height: 100%;
  border-radius: 0.5rem;
}
.recent_blogs .recent_post .post_desc p {
  color: var(--black-color);
  font-weight: 500;
  padding: 0.5rem;
}

.recent_blogs .recent_post .post_desc .date {
  color: var(--faint-text-color);
  padding-top: 1rem;
  font-size: 0.7rem;
}
